apiVersion: v1
kind: Service
metadata:
  name: calculator-service
  labels:
    app: calculator
spec:
  type: LoadBalancer
  selector:
    app: calculator
  ports:
  - port: 80
    targetPort: 5000
    protocol: TCP
    name: http
